h6{
    color:rgb(252, 161, 252) ;
    background: palegreen;
    font-size: 35px;
}

h2{
    color: rgb(237, 232, 133);
    background: rgb(122, 146, 235);
    font-size: 35px;
}
body{
    background-color: azure;
}