.nome{
    color: palevioletred;
    background:rgb(177, 228, 234) ;
    font-size: 36px;
}
    
.título{
    color: palevioletred;
}

.formação{
    color: palevioletred;
    background:rgb(177, 228, 234) ;
    font-size: 36px;
}

.exeperiência{
    color: palevioletred;
    background:rgb(177, 228, 234) ;
    font-size: 36px;
}

.minhash{
    color: palevioletred;
    background:rgb(177, 228, 234) ;
    font-size: 36px;
}

.olá{
    color: palevioletred;
}

body{
    background-color: rgba(247, 247, 219, 0.905);
}

.cursos{
    color: palevioletred;
}

.tabela{
    color: palevioletred;
}

.ingles{
    color: palevioletred;
}

.hobbys{
    color: palevioletred;
    background:rgb(177, 228, 234) ;
    font-size: 36px;
}

.violino{
    color: palevioletred;
}

.series{
    color: palevioletred;
}

.romance{
    color: palevioletred;
}

.contato{
    color: palevioletred;
    background:rgb(177, 228, 234) ;
    font-size: 36px;
}

.nome1{
    color: palevioletred;
}

.email{
    color: palevioletred;
}

.formulario{
    color: palevioletred;
    background:rgb(177, 228, 234) ;
    font-size: 36px;
}

.nome2{
    color: palevioletred;
}

.email2{
    color: palevioletred;
}

.mensagem{
    color: palevioletred;
}